@import url("../../variables.css");

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 35px;
    padding: 70px 10px;
}

.quotes {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 70%;
    justify-content: center;
    align-items: center;
    color: var(--color-gray);
    font-family: var(--font-poppins);
    text-align: center;
    border-bottom: 1px solid #D3D3D3;
}

.quotes h3 {
    font-weight: 600;
}

.goalsContainer {
    font-family: var(--font-poppins);
    display: flex;
    flex-direction: row;
    width: 90%;
    flex-wrap: wrap;
    padding-top: 20px;
    padding: 20px 7% 0;
    justify-content: space-between;
}

.goal {
    width: 50%;
    padding-top: 20px; 
}

.title {
    padding: 15px 0;
    color: var(--color-blue);
    font-weight: 600;
    font-size: 32px;
}

.subheader {
    font-size: 18px;
    padding: 10px 0;
    font-weight: 600;
    max-width: 90%;
}

.desc {
    font-size: 18px;
    line-height: 1.6;
    padding-bottom: 20px;
}

.button {
    border: 3px solid var(--color-blue);
    width: 25%;
    text-align: center;
    background-color: var(--color-blue);
    color: white;
    padding: 5px; 
}