@import url("../../variables.css");

.container {
    background-color: white;
    font-family: var(--font-poppins);
    color: black;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.links {
    list-style-type: none;
    font-size: 24px; 
    display: flex;
    gap: 15px;

}

.title {
    padding-top: 20px;
    font-size: 48px;
    font-weight: 600;
}