@import url("../../variables.css");

* {
    font-family: var(--font-poppins);
}

.container {
    background-color: var(--color-blue);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact {
    list-style-type: none;
    font-size: 24px; 
    display: flex;
    gap: 15px;

}

.title {
    font-size: 48px;
    font-weight: 600;
    padding-bottom: 10px;
}

.register {
    background-color: white;
    font-size: 18px;
    color: var(--color-blue);
    padding: 15px;
    border: 2px solid white;
    border-radius: 8px;
    width: 50%;
    text-align: center;
}

.register:hover {
    background-color: lightblue;
    border-color: lightblue;
}

.regLink {
    text-decoration: none;
    color: var(--color-blue);
}

.link {
    text-decoration: none;
    color: white;
}

.link:hover {
    color: lightblue;
}

.top {
    padding-top: 90px;
    padding-bottom: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer {
    padding: 50px 20px 80px;
    border-top: 1px solid #d2d2d2;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}

.footerSection {
    display: flex;
    flex-direction: column;
    min-width: 150px;
}

.secTitle {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 28px;
}

.footerSection ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0 0 0;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footerSection {
        width: 100%;
    }

    .title {
        text-align: center
        ;
    }
}

