@import "../../variables.css";

.navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 10%;
    background-color: var(--color-background);
    font-family: var(--font-roboto);
    color: var(--color-gray-text);
    text-transform: uppercase;
}

.logo {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo img {
    width: 60%;
    min-width: 25%;
}

.menu {
    display: flex;
    flex-grow: 1;
}

.menuItems {
    display: flex;
    gap: 47px;
    list-style: none;
    font-size: 20px;
    font-weight: bold;
    white-space: nowrap;
    flex-wrap: nowrap;
    width: 100%;
}


.menuBtn {
    display: none;
}