@import url("../../variables.css");

.carousel-item {
    display: block;
}

.testimonial {
    position: relative;
    text-align: center;
    padding: 80px;
    height: 60vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--font-poppins);
    text-transform: uppercase;
}

.quote::before {
    content: attr(data-quote);
    position: absolute;
    padding-left: 60px; 
    color: rgba(0, 40, 108, 0.10);
    z-index: -1;
    font-size: 75px;
    text-align: justify;
    overflow: hidden;
    max-width: 100%;
    word-break: normal;
    word-spacing: -2px;
    text-align: justify;
    overflow-wrap: break-word; 
    white-space: normal;
}

.author {
    font-style: italic;
    padding-top: 45px;
    font-size: 24px;
    max-width: 70%;
}

.author, .quote {
    color: var(--color-blue);
}

.quote {
    max-width: 60%;
    font-size: 32px;
    padding-top: 40px;
    font-weight: 600;
}

@media screen and (max-width: 1096px) {
    .quote {
        font-size: 28px;
        padding-top: 35px;
        max-width: 70%;
    }

    .quote::before {
        font-size: 60px;
    }
}

@media screen and (max-width: 810px) {
    .quote {
        font-size: 24px;
        padding-top: 30px;
        max-width: 80%;
    }

    .author {
        padding-top: 30px;
    }
}

@media screen and (max-width: 600px) {
    .quote {
        padding-top: 15px;
        font-size: 22px;
        max-width: 90%;
    }

    .author {
        max-width: 80%;
        padding-top: 15px;
        font-size: 20px;
    }

    .quote::before {
        font-size: 50px;
    }
}

@media screen and (max-width: 480px) {

    .testimonial {
        padding: 50px;
    }

    .quote {
        padding-top: 10px;
        font-size: 18px;
        max-width: 100%;
    }

    .author {
        font-size: 16px;
    }

    .quote::before {
        font-size: 40px;
        text-align: left;
        word-break: normal;
    }
}