@import "../../variables.css";

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    background-color: orange;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-family: var(--font-poppins);
    width: 80%;
}

.title {
    text-transform: uppercase;
    font-weight: 600;
}

.header ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.newsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 80%;
    margin-top: 20px;
}

/* First article takes 2 columns (50% width) */
.news:nth-child(1) {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
}

/* Remaining articles take 1 column each */
.news:nth-child(n+2) {
    display: flex;
    flex-direction: column;
}

.links {
    text-decoration: none;
    color: white;
}

.links:hover {
    color: var(--color-blue);
}

@media (max-width: 1200px) {

    .newsContainer {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}